@model HomeRental.Models.cQueryString

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
@section headersection {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-select.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="~/Scripts/pagesearch.js"></script>
}
<div class="wrapper">
    <div class="inner_left">

        <input id="pac-input" class="controls" type="text"
               placeholder="Enter a location">

        <div id="map-canvas"></div>

    </div>
    <div class="inner_right">

        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>





    </div>
</div>
