@model HomeRental.Models.cQueryString

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="wrapper">
    <div class="inner_left">

        <img src="~/images/carou02.png" style="width:100%;height:100%"/>
    </div>
    <div class="inner_right">
        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>




        <p>
            @Html.DisplayFor(model => model.address)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkin)
        </p>
        <p>
            @Html.DisplayFor(model => model.checkout)
        </p>
        <p>
            @Html.DisplayFor(model => model.guests)
        </p>





    </div>
</div>
