@{
    ViewBag.Title = "Search for Vacation";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}
@section headersection {
    <link href="@Url.Content("~/Content/bootstrap-select.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/PageSearch.less")" rel="stylesheet" />
}

@section scripts {
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/bootstrap-select.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/pagesearch.js")'></script>
    <script>
        filterpara("@ViewBag.checkinShortDate", "@ViewBag.checkoutShortDate", "@ViewBag.guests");
    </script>
}
<div class="wrapper">
    <div class="inner_left">

        <input id="pac-input" class="controls" type="text"
               placeholder="Enter a location">

        <div id="map-canvas"></div>

    </div>
    <div class="inner_right">

        <div class="boxfilter">
            <label class="titrefilter">TRIP</label>
            <label class="sr-only" for="checkin">Check in</label>
            <input type="text" name="checkin" class="form-control" id="checkin">
            <span class="glyphicon glyphicon-calendar"></span>
            <label class="sr-only" for="checkout">Check out</label>
            <input type="text" name="checkout" class="form-control" id="checkout">
            <span class="glyphicon glyphicon-calendar"></span>
            <select class="selectpicker" data-style="btn-info">
                <option value="1" data-icon="glyphicon-user">1 Guest</option>
                <option value="2" data-icon="glyphicon-user">2 Guest</option>
                <option value="3" data-icon="glyphicon-user">3 Guest</option>
                <option value="4" data-icon="glyphicon-user">4 Guest</option>
                <option value="5" data-icon="glyphicon-user">5 Guest</option>
                <option value="6" data-icon="glyphicon-user">6 Guest</option>
            </select>

        </div>
        <div id="status"></div>

        <div class="contentLoad">
            <div class="ball"></div>
            <div class="ball1"></div>
        </div>

        <div id="ajaxframe">
        </div>
    </div>
</div>
</div>
